<!DOCTYPE html>
<html>
  <head>
    <title>Insert Car</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Vui lòng nhập đầy đủ thông tin</h1>
    <p>Nhập form sau</p>
    <form method="post" action="/insertCar" enctype="application/x-www-form-urlencoded">
      <input name="id" placeholder="Nhập id"/>
      <input name="name" placeholder="Nhập tên xe.."/>
      <input name="brand" placeholder="Nhâp hãng...">
      <input name="price" placeholder="Nhâp giá...">

      <button type="submit">Save</button>
    </form>
  </body>
</html>
